/*Aqui va lo de la otra*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.contenedor {
  width: 90%;
  max-width: 1280px;
  margin: auto;
}

.menu {
  background: #fff;
  padding: 9px 20px;
}

.menu .contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  color: #000;
  font-size: 23px;
  font-weight: bold;
}

nav ul li {
  display: inline-block;
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
}

/* INTRO */


#intro {
  background: url(imagenes/intro.jpg);
  background-size: cover;
  background-position: center;
  font-family: 'Oswald';
  display: flex;
}

#intro .izquierda {
  background-color: rgba(255,255,255,0.85);
  width: 66%;
  padding: 65px 75px;
}

#intro .derecha {
  width: 57%;
  color: #fff;
  height: 503px;
  background-image: linear-gradient(180deg, rgba(255,255,255,0) 80%, #fff 80%);
}

#intro .contenido {
  background: red;
  padding: 1px 50px 40px 50px;
}

#intro .izquierda p {
  font-size: 14px;
  letter-spacing: 18px;
}

#intro h1 {
  font-size: 66px;
  font-weight: 100;
  letter-spacing: 19px;
  margin: 0;
margin-bottom: 30px;
}

#intro a, #programs a, #testimonials a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  letter-spacing: 7px;
  border-bottom: 2px solid red;
  padding-bottom: 13px;
  padding: 0 18px 13px 10px;
}

#intro .derecha a {
  color: #fff;
  border: 1px solid #fff;
  padding: 20px;
  display: inline-block;
}

#intro .derecha p {
  font-size: 30px;
  letter-spacing: 5px;
}

/* PROGRAMS */

#programs {
  padding-top: 90px;
  text-align: center;
  font-family: 'Oswald';
}

.rojo {
  color: blue;
}

#programs .cero {
  font-size: 80px;
  margin-bottom: 0;
}

#programs .ini {
  letter-spacing: 18px;
  font-size: 15px;
}

#programs h2 {
  font-size: 63px;
  font-weight: 100;
  letter-spacing: 16px;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 16px;
}

#programs p {
  font-family: 'Open Sans';
  color: #666;
  font-size: 15px;
  width: 73%;
  margin: auto;
  line-height: 30px;
}

#programs a {
  margin-top: 62px;
  display: inline-block;
}

.contenedor-programs {
  display: flex;
  margin-top: 50px;
  width: 88%;
  margin: auto;
}

#programs #uno {
  background: #089D00;
  color: #fff;
}

#uno p, #dos p, #tres p {
  color: #fff;
  text-align: left;
  width: 100%;
}

h3 {
  font-size: 26px;
  letter-spacing: 4px;
  margin: 0;
  text-align: left;
  font-weight: 400;
  margin-bottom: 16px;
}

.program {
  padding: 45px 47px;
  box-shadow: 50px 70px 120px -42px rgba(0,0,0,0.3);
}

#dos {
  background: #068100;
  color: #fff;
  position: relative;
  top: 120px;
  margin-left: 20px;
}

#tres p {
  color: #000;
}

#tres{
  margin-left: 20px;
  background: #0ED20E;
}
/* VIDEO */

#section-video {
  padding-top: 90px;
  text-align: center;
}

#section-video .contenedor {
  position: relative;
}

#section-video .botones {
  position: absolute;
  top: 35%;
  left: 46%;
}

#section-video i {
  font-size: 125px;
  color: #fff;
}

#section-video button {
  border: 0;
  background: none;
}

/* JOIN */

#join {
  display: flex;
  padding-top: 200px;
}

#join .izquierda {
  width: 49%;
  background: #FA2A20;
  margin-left: 100px;
  height: 340px;
  position: relative;
}

#join img {
  width: 47%;
}

#join .derecha {
  width: 53%;
  position: relative;
  background: url(imagenes/join-back.jpg);
  background-size: cover;
}

#join .izquierda a {
  color: #fff;
  border: 1px solid #fff;
  padding: 15px 24px;
  text-decoration: none;
  display: inline-block;
  font-family: 'Oswald';
  letter-spacing: 5px;
  position: absolute;
  top: 8%;
  left: 32%;
}

#join #uno {
  position: absolute;
  top: 24%;
  left: 56%;
  z-index: 1;
  width: 44%;
}

#join #dos {
  position: absolute;
  top: -44%;
}

#join #tres {
  position: absolute;
  left: 47%;
  top: 24%;
  width: 44%;
}

/* TESTIMONIALS */

#testimonials {
  padding-top: 90px;
  text-align: center;
}

span.comillas {
  font-size: 120px;
  color: red;
}

#testimonials h2 {
  font-size: 63px;
  font-weight: 100;
  letter-spacing: 16px;
  margin: 0;
  margin-bottom: 36px;
  font-family: 'Oswald';
}

#testimonials a {
  font-family: 'Oswald';
}

.contenedor-testimonials {
  display: flex;
  margin-top: 90px;
  justify-content: center;
}

.testimonial {
  width: 40%;
  margin-right: 40px;
}

.testimonial .contenido {
  display: flex;
}

.foto {
    background: url(imagenes/testimonial.jpg);
    background-size: cover;
    width: 384px;
    height: 85px;
    border-radius: 10%;
    margin-top: 22px;
    background-position: center;
}

.foto2 {
    background: url(imagenes/testimonial.jpg);
    background-size: cover;
    width: 384px;
    height: 85px;
    border-radius: 10%;
    margin-top: 22px;
    background-position: center;
}

.foto3 {
    background: url(imagenes/testimonial.jpg);
    background-size: cover;
    width: 384px;
    height: 85px;
    border-radius: 10%;
    margin-top: 22px;
    background-position: center;
}

.foto4 {
    background: url(imagenes/testimonial.jpg);
    background-size: cover;
    width: 384px;
    height: 85px;
    border-radius: 10%;
    margin-top: 22px;
    background-position: center;
}

.testimonial p {
  color: #666;
  font-size: 15px;
  text-align: left;
  margin-left: 24px;
  line-height: 30px;
  font-family: 'Open Sans';
}

p.nombre {
  margin-left: 125px;
  font-weight: bold;
}

/* CONTACTO */

#contacto {
  background: url(imagenes/contacto.jpg);
  font-family: 'Oswald';
  color: #fff;
  display: flex;
}

#contacto .izquierda {
  padding: 100px;
  width: 43%;
}

#contacto .izquierda p {
  font-size: 14px;
  letter-spacing: 18px;
}

#contacto h2 {
  font-size: 66px;
  font-weight: 100;
  letter-spacing: 19px;
  margin: 0;
  margin-bottom: 30px;
}

#contacto form input[type="text"], #contacto form input[type="email"], #contacto form textarea {
  width: 100%;
  border: 0;
  background: none;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  font-size: 16px;
  margin-bottom: 34px;
  font-family: 'Oswald';
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 100;
  color: #fff;
}

::placeholder {
  color: #fff;
}

input[type="submit"] {
  background: none;
  border: 1px solid #fff;
  padding: 20px 30px;
  color: #fff;
  font-size: 17px;
  font-family: 'Oswald';
  letter-spacing: 5px;
  float: right;
}

#contacto .derecha {
  background: #F7291F;
  align-self: flex-end;
  padding: 5px 50px 50px 50px;
  width: 36%;
}

.gym-hours {
  box-shadow: 0px 70px 120px -42px rgba(0,0,0,0.3);
  padding: 30px;
  margin-bottom: 32px;
}

.gym-hours ul {
  padding: 0;
}

.gym-hours li {
  list-style: none;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;
  font-size: 14px;
}

.pass {
  background: #fff;
  color: #000;
  padding: 30px;
}

.pass a {
  text-decoration: none;
  color: #000;
  border: 1px solid red;
  padding: 22px 30px;
  display: inline-block;
  font-size: 17px;
  letter-spacing: 5px;
  margin-top: 20px;
}

.menu-icon {
  display: none;
}

/*footer*/
footer{
  background: #2f2f2f;
  padding: 40px 0;
  text-align: center;
  margin-top: 100px;
}

footer .contenedor{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

footer img{
  margin: 0 40px;
  transform: rotate(0);
  transition: 0.4s;
}

footer img:hover{
  transform: rotate(360deg);
  transition: 0.4s;
}

footer p{
  color: #fff;
  margin-top: 40px;
}

@media screen and (max-width: 800px) {

  nav {
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    background: #000;
    display: none;
}

.menu-icon {
  display: block;
  float: right;
}

nav ul li {
    display: block;
    margin-bottom: 20px;
}

nav ul li a {
    color: #fff;
}

#intro .izquierda p {
    letter-spacing: 9px;
}

#intro h1 {
    font-size: 36px;
    letter-spacing: 13px;
}

#intro a, #programs a, #testimonials a {
    font-size: 13px;
    letter-spacing: 4px;
}

#intro .izquierda {
    width: 100%;
    padding: 24px 26px;
    height: 258px;
}

#intro {
    flex-direction: column;
}

#intro .derecha {
    width: 100%;
    height: 200px;
}

#programs .cero {
    font-size: 57px;
}

#programs .ini {
    letter-spacing: 12px;
}

#programs h2 {
    font-size: 34px;
}

#programs p {
    width: 100%;
}

.contenedor-programs {
    flex-direction: column;
    margin-top: 40px;
}

#dos {
    position: relative;
    margin-left: 0px;
    top: 35px;
}

#tres {
    margin-left: 0;
    margin-top: 70px;
}

#video {
  width: 342px;
      height: 298px;
}

#section-video i {
  font-size: 62px;
}

#section-video .botones {
    top: 42%;
    left: 40%;
}

#section-video {
    padding-top: 0;
}

#join {
    flex-direction: column;
}

#join .izquierda {
    width: 100%;
    margin-left: 0;
}

#join #uno {
    top: 34%;
    left: 30%;
}

#join .derecha {
    width: 100%;
}

#join #tres {
    left: 47%;
    top: 82px;
    width: 53%;
}

#join #dos {
    top: 1px;
}

#join img {
    width: 63%;
}

#testimonials {
    padding-top: 390px;
}

#testimonials h2 {
    font-size: 24px;
}

.contenedor-testimonials {
    flex-direction: column;
}

.testimonial {
    width: 100%;
}

.foto {
    height: 59px;
}

.foto2 {
    height: 59px;
}

.foto3 {
    height: 59px;
}

.foto4 {
    height: 59px;
}

#contacto {
    flex-direction: column;
}

#contacto .izquierda {
    width: 100%;
}

#contacto .izquierda {
    padding: 26px;
}

#contacto .izquierda p {
    letter-spacing: 9px;
}

#contacto h2 {
    font-size: 35px;
}

#contacto form input[type="text"], #contacto form input[type="email"], #contacto form textarea {
    width: 82%;
}

input[type="submit"] {
    float: LEFT;
}

#contacto .derecha {
    padding: 5px 18px 50px 17px;
    width: 91%;
}

.gym-hours {
    padding: 16px;
}

.pass {
    padding: 13px;
}

footer{
  /* position:fixed;
  bottom:0;
  clear:both;
  width:100%;
  height:50px; */
  margin-top: 300px;
}

}

/*Aqui va lo otro*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald';
}

.menu-icon {
  display: none;
}

a {
  text-decoration: none;
}

.contenedor {
  width: 90%;
  max-width: 1280px;
  margin: auto;
}

.menu {
  background: #fff;
  padding: 9px 20px;
}

.menu .contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-size: 23px;
  font-weight: bold;
}

nav ul li {
  display: inline-block;
  margin: 0 20px;
}

nav ul li a {
  color: #000;
}

/* INTRO */

#intro {
  background: url(imagenes/fondo.jpg);
  text-align: center;
  height: 60vh;
  /*margin-top: -60px;*/
  margin-top = 40px;
  background-size: cover;
  background-position: 57% 48%;
}

#intro h1 {
  font-family: 'Playfair Display';
  font-size: 72px;
  color: #fff;
  font-weight: normal;
  padding-top: 60px;
}

#intro p {
  color: #bfbfbf;
  font-size: 18px;
  line-height: 36px;
  width: 60%;
  margin: auto;
}

#intro .menu {
  color: #fff;
  border: 1px solid #fff;
  padding: 9px;
  background: transparent;
}

#intro .reservation {
  color: #fff;
  padding: 9px;
  background: #c39d63;
}

#intro .botones {
  margin-top: 50px;
}

#intro .botones a {
  margin-right: 20px;
  padding: 9px 23px;
}

/* OUR STORY */

#our-story {
  padding: 180px 0;
}

#our-story .contenedor {
  display: flex;
  justify-content: center;
}

.our-story {
  color: #bfbfbf;
  letter-spacing: 2px;
  font-weight: 700;
}

hr {
  width: 40px;
  float: left;
  border-color: #C29D63;
}

#our-story h2, #testimonials h2 {
  margin-top: 50px;
  font-size: 48px;
  font-family: 'Playfair Display';
  font-weight: 300;
}

#our-story .texto, .testimonial .texto {
  font-size: 17px;
  color: #939393;
  line-height: 30px;
  width: 88%;
}

#our-story .izquierda {
  width: 45%;
}

/* MENU */

#menu {
  /*background: #1F1F1F;*/
  margin-top: 190px;
}

#menu .foto {
  background: url(imagenes/plas2.jpg);
  width: 300px;
  height: 285px;
  background-repeat: no-repeat;
  background-size: cover;
}

#menu .foto2 {
  background: url(imagenes/metales.jpg);
  width: 300px;
  height: 285px;
  background-repeat: no-repeat;
  background-size: cover;
}

#menu .foto3 {
  background: url(imagenes/vidrio.jpg);
  width: 300px;
  height: 285px;
  background-repeat: no-repeat;
  background-size: cover;
}

#menu .foto4 {
  background: url(imagenes/medicamentos.jpg);
  width: 300px;
  height: 285px;
  background-repeat: no-repeat;
  background-size: cover;
}

#menu .linea1 div, #menu .linea2 div {
  /* display: inline-block;
  margin-top: 50px;
  width: 33.1%; */

  display: block;
  width: 100%;
  width: 800px;
  margin:0 auto;
  margin-top: 50px;
}

#menu .linea1, #menu .linea2 {
  /*background: #fff;*/
  text-align: center;
}

#menu li {
  list-style: none;
}

#menu .precio {
  color: #063C00;
  font-size: 24px;
  margin-bottom: 15px;
}

#menu .titulo {
  font-family: 'Playfair Display';
  font-size: 24px;
  font-weight: 100;
}

#menu .parrafo {
  color: #939393;
  line-height: 30px;
  margin-top: 20px;
}

#menu .hongos {
  background: url(imagenes/hongos.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -11px;
  left: -14px;
}

#menu .pez {
  background: url(imagenes/pez.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -11px;
  right: -14px;
}

#menu .contenedor {
  max-width: 1130px;
}

#menu ul {
  margin: 0;
  padding: 0;
}

#menu .texto {
  position: relative;
  top: -30px;
}

#menu .linea2 {
  height: 275px;
}

#linkDir{
  color: black;
  text-decoration: none;
}
/* TESTIMONIALS */

#testimonials {
  text-align: center;
  background: #F7F7F7;
  padding: 90px 0;
}

#testimonials .titulo {
  color: #bfbfbf;
  letter-spacing: 2px;
  font-weight: 700;
}

#testimonials hr {
  width: 40px;
  float: none;
  font-weight: 700;
}

.contenedor-testimonials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.testimonial {
  width: 25%;
  text-align: left;
}

.testimonial img {
  width: 55%;
}

#testimonials .contenedor {
  max-width: 1150px;
}

/* CONTACTO */

#contacto {
  background: url(imagenes/restaurant.jpg);
  color: #fff;
  text-align: center;
  padding: 90px 0;
}

#contacto .contenedor {
  display: flex;
  justify-content: center;
}

#contacto .izquierda, #contacto .derecha {
  background: #1F1F1F;
  padding: 77px 29px;
}

#contacto .izquierda {
  margin-right: 40px;
}

#contacto ul {
  border-bottom: 2px solid #C29D62;
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

ul#tercero {
  border-bottom: 0px;
}

#contacto ul li {
  list-style: none;
  font-size: 15px;
}

#contacto h2 {
  font-family: 'Playfair Display';
  font-size: 32px;
  font-weight: 100;
}

#contacto ul li:nth-child(1) {
  font-weight: bold;
}

#contacto a {
  color: #fff;
  padding: 9px;
  background: #c39d63;
  letter-spacing: 2px;
  display: inline-block;
  margin-top: 20px;
}

#contacto h3 {
  font-size: 23px;
  font-weight: 100;
  margin: 0;
}

#contacto .derecha p {
  opacity: 0.8;
  width: 70%;
  margin: auto;
}

#contacto .derecha a {
  padding: 9px 12px;
}

#contacto h3.news {
  margin-top: 67px;
}

#contacto form {
  margin-top: 25px;
}

input[type="text"] {
  width: 72%;
  border: 0;
  background: #111111;
  padding: 15px;
  font-size: 16px;
  margin-bottom: 10px;
}

::placeholder {
  color: #cdcdcd;
}

::-ms-input-placeholder {
  color: #cdcdcd;
}

input[type="submit"] {
  display: block;
  width: 79%;
  margin: auto;
  border: 0;
  background: #C29D63;
  color: #fff;
  padding: 11px 0;
  font-size: 16px;
}

#contacto .izquierda, #contacto .derecha {
  width: 35%;
}

#contacto .derecha {
  padding: 99px 0px;
  width: 40%;
}


@media screen and (max-width: 800px) {
  nav {
    position: absolute;
    top: 93px;
    left: 0;
    background: #000;
    width: 100%;
    display: none;
}

nav ul li {
  display: block;
  margin-bottom: 15px;
}

nav ul li a {
  color: #fff;
}

.menu-icon {
  display: block;
}

header .logo {
    font-size: 20px;
}

#intro {
  margin-top: -35px;
}

#intro h1 {
  font-size: 37px;
}

#intro p {
    color: #bfbfbf;
    font-size: 13px;
    line-height: 29px;
    width: 100%;
    margin: auto;
}

#our-story .contenedor {
  flex-direction: column;
}

#our-story .izquierda {
    width: 100%;
}

#our-story .derecha img {
  width: 100%;
}

#menu .linea1 div, #menu .linea2 div {
    display: block;
    width: 100%;
}

#menu #texto-2 {
    position: relative;
    top: 18px;
}

.linea2 .hongos {
  width: 100% !important;
  top: 30px !important;
left: 0px !important;
}

#menu {
    /* background: #1F1F1F; */
    height: 1625px;
}

#menu #ultimo {
  width: 100% !important;
  top: 52px;
}

.linea2 .pez {
  width: 100% !important;
  top: 25px !important;
left: 0px;
}

#menu .linea2 {
    height: 623px;
}

.contenedor-testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}

.testimonial {
  width: 100%;
}

#contacto .contenedor {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#contacto .izquierda, #contacto .derecha {
    width: 81%;
}

.derecha {
    width: 98% !important;
    margin-top: 57px;
}

}
