body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald';
}

.contenedor {
  width: 90%;
  max-width: 1280px;
  margin: auto;
}

.menu {
  background: #fff;
  padding: 9px 20px;
}

.menu .contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  color: #000;
  font-size: 23px;
  font-weight: bold;
}


nav ul li {
  display: inline-block;
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
}

a {
 text-decoration: none;
 color: #000;
}

.blacc {
 text-decoration: none;
 color: #fff;
}

/* INTRO */


#intro {
  background: url(imagenes/panelCielo.jpg);
  background-size: cover;
  background-position: center;
  font-family: 'Oswald';
  display: flex;
}

#intro .izquierda {
  background-color: rgba(255,255,255,0.85);
  width: 66%;
  padding: 65px 75px;
}

#intro .derecha {
  width: 57%;
  color: #fff;
  height: 503px;
  background-image: linear-gradient(180deg, rgba(255,255,255,0) 80%, #fff 80%);
}

#intro .contenido {
  background: #125500;
  padding: 1px 50px 40px 50px;
}

#intro .izquierda p {
  font-size: 14px;
  letter-spacing: 18px;
}

#intro h1 {
  font-size: 66px;
  font-weight: 100;
  letter-spacing: 19px;
  margin: 0;
margin-bottom: 30px;
}

#intro a, #programs a, #testimonials a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  letter-spacing: 7px;
  border-bottom: 2px solid  #125500;
  padding-bottom: 13px;
  padding: 0 18px 13px 10px;
}

#intro .derecha a {
  color: #fff;
  border: 1px solid #fff;
  padding: 20px;
  display: inline-block;
}

#intro .derecha p {
  font-size: 30px;
  letter-spacing: 5px;
}

/*Sobre el sitio*/
#sobre-el-sitio a{
  font-size: 14px;
  color: #fff;
  background: #5cb8ff;
  padding: 14px 24px;
  display: inline-block;
}

#sobre-el-sitio h3{
  text-align: center;
  font-size: 55px;
  font-weight: normal;
}

#sobre-el-sitio .contenedor-sobre-sitio{
  display: flex;
  justify-content: space-around;
}

#sobre-el-sitio .texto{
  width: 42%;
}
/* PROGRAMS */
button.owl-prev, button.owl-next{
  font-size: 40px !important;
}

span{
  color: green;
}



#programs, #servicios, #registro {
  padding-top: 90px;
  text-align: center;
  font-family: 'Oswald';
}


#servicios ul li a{
  text-decoration: none;
  color: #000;
}


.rojo {
  color: green;
}

#programs .cero {
  font-size: 80px;
  margin-bottom: 0;
}

#programs .ini {
  letter-spacing: 18px;
  font-size: 15px;
}

#programs h2, #servicios h2, #registro h2 {
  font-size: 63px;
  font-weight: 100;
  letter-spacing: 16px;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 16px;
}

#programs p {
  font-family: 'Open Sans';
  color: #666;
  font-size: 15px;
  width: 73%;
  margin: auto;
  line-height: 30px;
}

#programs a {
  margin-top: 62px;
  display: inline-block;
}

.contenedor-programs {
  display: flex;
  margin-top: 50px;
  width: 88%;
  margin: auto;
}

#programs #uno {
  background: #2A2E3F;
  color: #fff;
}

#uno p, #dos p, #tres p {
  color: #fff;
  text-align: left;
  width: 100%;
}

h3 {
  font-size: 26px;
  letter-spacing: 4px;
  margin: 0;
  text-align: left;
  font-weight: 400;
  margin-bottom: 16px;
}

.program {
  padding: 45px 47px;
  box-shadow: 50px 70px 120px -42px rgba(0,0,0,0.3);
}

#dos {
  background: #0B3600;
  color: #fff;
  position: relative;
  top: 120px;
}

#tres p {
  color: #000;
}



/* JOIN */

#join {
  display: flex;
  padding-top: 300px;
  padding-bottom: 150px;
}

#join .izquierda {
  width: 49%;
  background: #187301;
  margin-left: 100px;
  height: 340px;
  position: relative;
}

#join img {
  width: 47%;
}

#join .derecha {
  width: 53%;
  position: relative;
  background: url(imagenes/fondo.jpg);
  background-size: cover;
}

#join .izquierda a {
  color: #fff;
  border: 1px solid #fff;
  padding: 15px 24px;
  text-decoration: none;
  display: inline-block;
  font-family: 'Oswald';
  letter-spacing: 5px;
  position: absolute;
  top: 4%;
  left: 32%;
}

#join #uno {
  position: absolute;
  top: 24%;
  left: 56%;
  z-index: 1;
  width: 44%;
}

#join #dos {
  position: absolute;
  top: -44%;
}

#join #tres {
  position: absolute;
  left: 47%;
  top: 24%;
  width: 44%;
}



/* CONTACTO */

#contacto {
  background: url(imagenes/ventiladores.jpg);
  font-family: 'Oswald';
  color: #fff;
  display: flex;
}

#contacto .izquierda {
  padding: 100px;
  width: 43%;
}

#contacto .izquierda p {
  font-size: 14px;
  letter-spacing: 18px;
}

#contacto h2 {
  font-size: 66px;
  font-weight: 100;
  letter-spacing: 19px;
  margin: 0;
  margin-bottom: 30px;
}

#contacto form input[type="text"], #contacto form input[type="email"], #contacto form textarea {
  width: 100%;
  border: 0;
  background: none;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  font-size: 16px;
  margin-bottom: 34px;
  font-family: 'Oswald';
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 100;
  color: #fff;
}

::placeholder {
  color: #fff;
}

input[type="submit"],  input[type="button"]{
  background: none;
  border: 1px solid #fff;
  padding: 20px 30px;
  color: #fff;
  font-size: 17px;
  font-family: 'Oswald';
  letter-spacing: 5px;
  float: right;
}

#contacto .derecha {
  background: #0B3600;
  align-self: flex-end;
  padding: 5px 50px 50px 50px;
  width: 36%;
}

.gym-hours {
  box-shadow: 0px 70px 120px -42px rgba(0,0,0,0.3);
  padding: 30px;
  margin-bottom: 32px;
}

.gym-hours ul {
  padding: 0;
}

.gym-hours li {
  list-style: none;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;
  font-size: 14px;
}

.pass {
  background: #fff;
  color: #000;
  padding: 30px;
}

.pass a {
  text-decoration: none;
  color: #000;
  border: 1px solid #125500;
  padding: 22px 30px;
  display: inline-block;
  font-size: 17px;
  letter-spacing: 5px;
  margin-top: 20px;
}

.menu-icon {
  display: none;
}

/* tabla */
table{
  overflow-x:auto;
  margin: 20px;
  padding: 20px;
  text-align: left;
  width: 100%;
  border-collapse: collapse;
}

th, td{
  border: 0;
  border-bottom: 1px solid #0ED20E;
  padding: 20px;
}

thead{
  text-align: center;
   background-color: #0ED20E;
   border-bottom: solid 3px  #0ED20E;
   color: #fff;
}

tr:nth-child(even){
  background-color: #089D00;
  color: #fff;
}

tr:hover td{
  background-color: #068100;
  color: white;
}

/*footer*/
footer{
  background: #2f2f2f;
  padding: 40px 0;
  text-align: center;
  margin-top: 100px;
  height: 100px;
}

footer .contenedor{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

footer img{
  margin: 0 40px;
  transform: rotate(0);
  transition: 0.4s;
}

footer img:hover{
  transform: rotate(360deg);
  transition: 0.4s;
}

footer p{
  color: #fff;
  margin-top: 40px;
}

#contenedor-titulo-flex{
display: flex;
justify-content: center;
margin: 18vh 0;
}

/*Inicio de sesión*/

.contenedor-titulo h1{
  text-align: center;
}

#registro input[type="button"]{
  font-size: 14px;
  color: #fff;
  background:#125500 ;
  padding: 14px 24px;
  display: inline-block;
}

#registro form{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 77%;
  margin: auto;
}

#registro input[type="text"], #registro input[type="email"], #registro input[type="password"], #registro input[type="submit"]{
  width: 49%;
  margin-bottom: 18px;
  padding: 18px 0;
  border: 0;
  border-bottom: 1px solid #0ED20E;
  font-size: 17px;
}


@media screen and (max-width: 800px) {

  nav {
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    background: #000;
    display: none;
}

.menu{
  margin-bottom:55px;
}

.menu-icon {
  display: block;
  float: right;
}

nav ul li {
    display: block;
    margin-bottom: 20px;
}

nav ul li a {
    color: #fff;
}

table{
  overflow-x:auto;
  margin: 0px;
  padding: 0px;
  text-align: left;
  border-collapse: collapse;
}


#servicios h2, #registro h2{
  font-size: 24px;
  font-weight: 50;
  letter-spacing: 8px;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 16px;
}

#intro .izquierda p {
    letter-spacing: 9px;
}

#intro h1 {
    font-size: 36px;
    letter-spacing: 13px;
}

#intro a, #programs a, #testimonials a {
    font-size: 13px;
    letter-spacing: 4px;
}

#intro .izquierda {
    width: 100%;
    padding: 24px 26px;
    height: 258px;
}

#intro {
    flex-direction: column;
}

#intro .derecha {
    width: 100%;
    height: 200px;
}

#sobre-el-sitio .contenedor-sobre-sitio{
  display:block;
  justify-content: center;
}

#sobre-el-sitio .texto{
  width: 100%;
}

#programs .cero {
    font-size: 57px;
}

#programs .ini {
    letter-spacing: 12px;
}

#programs h2 {
    font-size: 34px;
}

#programs p {
    width: 100%;
}

.contenedor-programs {
    flex-direction: column;
    margin-top: 40px;
}

#dos {
    position: relative;
    top: 35px;
}

#tres {
    margin-top: 50px;
}



#join {
    flex-direction: column;
      padding-top: 150px;
      margin-bottom: 180px;
}

#join .izquierda {
    width: 100%;
    margin-left: 0;
}

#join #uno {
    top: 34%;
    left: 30%;
}

#join .derecha {
    width: 100%;
}

#join #tres {
    left: 47%;
    top: 82px;
    width: 53%;
}

#join #dos {
    top: 1px;
}

#join img {
    width: 63%;
}


#contacto {
    padding-top: 390px;
    flex-direction: column;
}

#contacto .izquierda {
    width: 100%;
}

#contacto .izquierda {
    padding: 26px;
}

#contacto .izquierda p {
    letter-spacing: 9px;
}

#contacto h2 {
    font-size: 35px;
}

#contacto form input[type="text"], #contacto form input[type="email"], #contacto form textarea {
    width: 82%;
}

input[type="submit"], imput[type="button"] {
    float: LEFT;
}

#contacto .derecha {
    padding: 5px 18px 50px 17px;
    width: 91%;
}

.hours {
    padding: 16px;
}

.pass {
    padding: 13px;
}
}
